<app-context
  [options]="contextMenu.options"
  [objectId]="contextMenu.objectId"
  [objectData]="contextMenu.objectData"
  (clickAway)="contextMenu.hide()"
  [show]="contextMenu.showMenu"
  [divTop]="contextMenu.top"
  [divLeft]="contextMenu.left"
></app-context>
<app-modal-alert
  *ngIf="alertBox.errorMessage"
  [message]="alertBox.errorMessage"
  (close)="alertBox.onCloseAlert()"
></app-modal-alert>
<app-modal-dialog
  *ngIf="confirmDialog.isVisible"
  [message]="confirmDialog.message"
  (close)="confirmDialog.onCloseClick()"
  (yesAction)="confirmDialog.onYesClick()"
  (noAction)="confirmDialog.onNoClick()"
>
</app-modal-dialog>
<app-friend-mini
  *ngIf="friendMiniVisible"
  (close)="onFriendMiniClose()"
  (friendselect)="onFriendSelect($event)"
></app-friend-mini>
<div
  class="ww-flex-column ww-selection-component ww-external-selection-component"
  style="width: 40svw"
>
  <div class="ww-selection-component-title">Items</div>
  <!-- Filter Input Box -->
  <div class="ww-flex-row ww-filter-input-container" style="width: 10rem">
    <form [formGroup]="filter.form" #f="ngForm">
      <label for="filterInput">Filter</label>
      <div class="ww-flex-row">
        <input
          class="ww-filter-input-box"
          type="text"
          id="filterString"
          formControlName="filterString"
          (input)="filter.onChange($event)"
        />
        <button
          type="button"
          class="ww-button-theme ww-filter-reset-button"
          (click)="filter.onReset()"
        >
          X
        </button>
      </div>
    </form>
  </div>

  <!-- Page Buttons -->
  <div class="ww-flex-row ww-page-button-container">
    <button
      type="button"
      [disabled]="!pages.hasPrevPage"
      (click)="pages.onPrevPage()"
      class="ww-button ww-button-regular"
    >
      &#8592;
    </button>
    <span style="text-align: center">{{ pages.currentPage }}</span>
    <button
      type="button"
      [disabled]="!pages.hasNextPage"
      (click)="pages.onNextPage()"
      class="ww-button ww-button-regular"
    >
      &#8594;
    </button>
  </div>

  <!-- Selection List -->
  <div class="ww-card-select-component">
    <div
      class="ww-card"
      *ngFor="let item of items; let i = index"
      (click)="onSelect(i)"
      draggable="true"
      (dragstart)="dnd.onDragStart($event, 'item')"
      (dragover)="dnd.onDragOver($event)"
      (drop)="dnd.onDropSelf()"
      [attr.data-id]="item.id"
      [attr.data-source]="listName"
      [class.ww-card-selected]="item.isSelected"
      (contextmenu)="onContextMenu($event, i)"
    >
      <div class="ww-avatar-container ww-avatar-container-regular">
        <img
          *ngIf="item.image"
          src="{{ item.image.url }}"
          class="ww-avatar-container ww-avatar-container-regular ww-avatar ww-avatar-regular"
        />
        <div
          *ngIf="!item.image"
          class="ww-avatar-container ww-avatar-container-regular ww-initial-icon"
        >
          {{ item.name.substr(0, 1) }}
        </div>
      </div>
      <div class="ww-info-block">
        <b>{{ item.name }}</b>
      </div>
    </div>
  </div>
</div>
