<app-modal-alert
*ngIf="alertBox.errorMessage"
[message]="alertBox.errorMessage"
(close)="alertBox.onCloseAlert()"
></app-modal-alert>
<app-modal-dialog
*ngIf="confirmDialog.isVisible"
[message]="confirmDialog.message"
(close)="confirmDialog.onCloseClick()"
(yesAction)="confirmDialog.onYesClick()"
(noAction)="confirmDialog.onNoClick()"
></app-modal-dialog>
<app-image-select-mini
*ngIf="imageSelectorVisible"
style="z-index: 500; position: absolute"
(close)="toggleImageSelector()"
></app-image-select-mini>
<app-friend-mini
*ngIf="currentUser && friendListVisible"
style="z-index: 500; position: absolute"
(close)="toggleFriendList()"
[userId]="currentUser.id"
></app-friend-mini>
<div class="ww-flex-column ww-detail-component" style="width: 25svw">
    <!-- Form Input panel -->
  <form
    [formGroup]="userDetailForm"
    (ngSubmit)="onSubmit()"
    #f="ngForm"
    class="ww-flex-column ww-form"
  >
    <input type="hidden" id="userId" formControlName="userId" />
    <div class="ww-form-input">
      <label for="email">Email</label>
      <input
        formControlName="email"
        type="text"
        id="email"
        autocomplete="off"
        required
        email
      />
    </div>
    <div class="ww-form-input">
      <label for="firstName">First Name</label>
      <input formControlName="firstName" type="text" id="firstName" required />
    </div>
    <div class="ww-form-input">
      <label for="lastName">Last Name</label>
      <input formControlName="lastName" type="text" id="lastName" required />
    </div>
    <div class="ww-form-input">
      <label for="alias">Alias</label>
      <input formControlName="alias" type="text" id="alias" required />
    </div>
    <div>
      <div class="ww-label">Active</div>
      <input formControlName="active" type="checkbox" id="active" />
    </div>
    <div>
      <div class="ww-label">Verified</div>
      <input formControlName="verified" type="checkbox" id="verified" />
    </div>
    <div>
      <div class="ww-label">Admin</div>
      <input formControlName="admin" type="checkbox" id="admin" />
    </div>
    <div>
      <div class="ww-label">Send password reset</div>
      <input
        formControlName="resetpassword"
        type="checkbox"
        id="resetpassword"
      />
    </div>

    <!-- Avatar Image -->
    <div>
      <div class="ww-label">Avatar Image</div>
      <div
        style="
          border: 2px solid black;
          width: 75px;
          height: 75px;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
        "
        (drop)="onDrop($event)"
        (dragover)="onDragOver($event)"
        (click)="toggleImageSelector()"
      >
        <img
          src="{{ currentImage.url }}"
          *ngIf="currentImage && currentImage.url"
          style="height: 70px; width: 70px"
        />
        <div
          *ngIf="!(currentImage && currentImage.url)"
          class="ww-flex-column"
          style="
            height: 70px;
            width: 70px;
            justify-content: center;
            align-items: center;
          "
        >
          No Image
        </div>
      </div>
    </div>


    <button
      type="button"
      [disabled]="!currentUser"
      class="ww-button ww-button-theme"
      (click)="toggleFriendList()"
      style="width: 20vw"
    >
      Show Friends
    </button>


    <!-- Button Panel -->
    <div class="ww-button-container">
      <button
        *ngIf="!editMode"
        type="submit"
        [disabled]="!f.valid || !(f.touched || f.dirty)"
        class="ww-button ww-button-green"
      >
        Add
      </button>
      <button
        *ngIf="editMode"
        type="submit"
        [disabled]="!f.valid || !(f.touched || f.dirty)"
        class="ww-button ww-button-blue"
      >
        Save
      </button>
      <button
        class="ww-button ww-button-yellow"
        type="button"
        [disabled]="!(f.touched || f.dirty)"
        (click)="onCancel()"
      >
        Cancel
      </button>
      <button
        *ngIf="editMode"
        type="button"
        class="ww-button ww-button-red"
        (click)="onDelete()"
      >
        Delete
      </button>
    </div>
  </form>
</div>
