<app-modal-alert
  *ngIf="alertBox.errorMessage"
  [message]="alertBox.errorMessage"
  (close)="alertBox.onCloseAlert()"
></app-modal-alert>
<div
  class="ww-flex-column ww-simple-dialog"
  style="
    justify-content: center;
    align-items: center;
    z-index: 2000;
    position: absolute;
    top: 60px;
    left: 200px;
  "
  id="enable2facomponent"
>
  <div
    class="ww-flex-row ww-selection-component-title"
    style="align-items: center"
    id="enable2facomponentheader"
  >
    <div class="ww-selection-component-title">Enable 2FA</div>
    <button
      type="button"
      class="ww-button"
      style="border-radius: 5px"
      (click)="onClose()"
    >
      X
    </button>
  </div>

  <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="ww-auth-form">
    <div
      class="ww-flex-column"
      style="align-items: flex-start; justify-content: flex-start"
    >
      <div class="ww-label">Scan QR Code with authentication device</div>
      <div
        style="
          display: flex;
          justify-content: center;
          align-content: center;
          width: 110px;
          height: 110px;
          border: 2px solid black;
        "
      >
        <img src="{{ qrCodeImage }}" style="width: 100px; height: 100px" />
      </div>

      <div class="ww-flex-column">
        <label class="ww-label">Secret</label>
        <span>{{ secret }}</span>
      </div>
      <input
        type="hidden"
        name="verificationToken"
        id="verificationToken"
        value="{{ verificationToken }}"
      />
      <div class="ww-flex-column">
        <label class="ww-label" for="authToken"
          >Enter 2FA code from authentication device</label
        >
        <input type="text" name="authToken" id="authToken" ngModel required />
      </div>
    </div>
    <br />
    <div>
      <button
        type="button"
        class="ww-button ww-button-blue"
        [disabled]="!f.valid"
        (click)="onSubmit(f)"
      >
        Verify
      </button>
    </div>
  </form>
</div>
