<div
  class="ww-flex-column ww-main-component"
  style="
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 80vh;
    font-size: 0.8rem;
  "
>
  <app-modal-alert
    *ngIf="alertBox.errorMessage"
    [message]="alertBox.errorMessage"
    (close)="alertBox.onCloseAlert()"
  ></app-modal-alert>
  <div
    class="ww-flex-column"
    style="padding: 5px; min-width: 50%; border-radius: 5px"
  >
    <h2>Password Reset</h2>
    <p>Please enter your new password</p>
    <div class="ww-flex-column">
      <form
        [formGroup]="resetForm"
        (ngSubmit)="onSubmit()"
        #f="ngForm"
        class="ww-auth-form"
      >
        <div class="ww-form-input">
          <label for="newpass">New Password</label>
          <input
            type="password"
            id="newpass"
            formControlName="newpass"
            required
          />
        </div>
        <div class="ww-form-input">
          <label for="verifypass">Re-enter password</label>
          <input
            type="password"
            id="verifypass"
            formControlName="verifypass"
            required
          />
        </div>
        <br />
        <div
          *ngIf="resetForm.errors"
          style="background-color: red; color: white"
        >
          <p>Passwords do not match</p>
        </div>
        <div *ngIf="!resetForm.errors">
          <p>&nbsp;</p>
        </div>
        <br />
        <div>
          <button
            type="submit"
            class="ww-button ww-button-blue"
            [disabled]="!resetForm.valid"
          >
            Change Password
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
