.ww-navbar-container {
    background-color: #555;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    min-height: 100%;
}

.ww-nav-a {
    text-decoration: none;
    color: white;
    margin-top: 5px;
    text-align: right;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}

.ww-nav-a:hover {
    background-color: black;
}

.ww-active {
    background-color: var(--theme-color);
}

.ww-nav-profile-option {
    text-decoration: none;
    color: white;
    margin-top: 5px;
    cursor: pointer;
}