<div
  class="ww-flex-column ww-mini-selection-component"
  style="justify-items: center; z-index: 2000; position: absolute; top: 20px; left: 20px; width: 15svw;"
  id="imageminiselect"
>
  <app-modal-alert
    *ngIf="alertBox.errorMessage"
    [message]="alertBox.errorMessage"
    (close)="alertBox.onCloseAlert()"
  ></app-modal-alert>
  <div
    class="ww-flex-row ww-selection-component-title"
    style="font-size: 0.5rem; align-items: center"
    id="imageminiselectheader"
  >
    <div class="ww-selection-component-title">Images</div>
    <button
      type="button"
      class="ww-button"
      style="border-radius: 5px; font-size: 0.5rem"
      (click)="onClose()"
    >
      X
    </button>
  </div>

  <!-- Filter Input Box -->
  <div class="ww-flex-row ww-filter-input-container" style="width: 10rem">
    <form [formGroup]="filter.form" #f="ngForm">
      <label for="filterInput">Filter</label>
      <div class="ww-flex-row">
        <input
          class="ww-filter-input-box"
          type="text"
          id="filterString"
          formControlName="filterString"
          (input)="filter.onChange($event)"
        />
        <button
          type="button"
          class="ww-button-theme ww-filter-reset-button"
          (click)="filter.onReset()"
        >
          X
        </button>
      </div>
    </form>
  </div>

  <!-- Page Buttons -->
  <div class="ww-flex-row ww-page-button-container">
    <button
      type="button"
      class="ww-button ww-button-regular"
      [disabled]="!pages.hasPrevPage"
      (click)="pages.onPrevPage()"
    >
      &#8592;
    </button>
    <div style="font-size: 0.6rem">{{ pages.currentPage }}</div>
    <button
      type="button"
      class="ww-button ww-button-regular"
      [disabled]="!pages.hasNextPage"
      (click)="pages.onNextPage()"
    >
      &#8594;
    </button>
  </div>

  <!-- Selection List -->
  <div
    class="ww-flex-column"
    style="
      gap: 2px;
      justify-content: flex-start;
      height: 150px;
      min-width: 100%;
      overflow-y: scroll;
    "
  >
    <div
      draggable="true"
      *ngFor="let image of images; let i = index"
      [attr.data-id]="image.id"
      [attr.data-source]="listName"
      (click)="onSelect(i)"
      (dragstart)="dnd.onDragStart($event,'image')"
      (dragover)="dnd.onDragOver($event)"
      (drop)="dnd.onDropSelf($event)"
      (contextmenu)="onContextMenu($event,image.id)"
      class="ww-flex-row"
      style="
        border-radius: 5px;
        border: 1px solid black;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
        padding-left: 5px;
        padding-right: 5px;
        gap: 4px;
        width: 80%;
      "
    >
      <img
        *ngIf="image.url"
        src="{{ image.url }}"
        alt="{{ image.name }}"
        style="height: 20px; width: 20px; cursor: pointer"
        [attr.data-id]="image.id"
        [attr.data-source]="listName"
      />
      <p [attr.data-id]="image.id" [attr.data-source]="listName">
        {{ image.name }}
      </p>
    </div>
  </div>
</div>
