  <app-modal-dialog
    *ngIf="confirmDialog.isVisible"
    [message]="confirmDialog.message"
    (close)="confirmDialog.onCloseClick()"
    (yesAction)="confirmDialog.onYesClick()"
    (noAction)="confirmDialog.onNoClick()"
    style="z-index: 1000;"
  ></app-modal-dialog>
  <app-modal-alert
  *ngIf="alertBox.errorMessage"
  [message]="alertBox.rrorMessage"
  (close)="alertBox.onCloseAlert()"
></app-modal-alert>
<div class="ww-flex-column ww-detail-component">
  <!-- Form Input Panel -->
  <form
    [formGroup]="categoryDetailForm"
    (ngSubmit)="onSubmit()"
    #f="ngForm"
    class="ww-flex-column ww-form"
    style="gap: 5px;"
  >
    <input type="hidden" id="categoryId" formControlName="categoryId" />
    <div class="ww-form-input">
      <label for="name">Name</label>
      <input formControlName="name" type="text" id="name" required />
    </div>
    <div class="ww-form-input">
      <label for="description">Description</label>
      <input
        formControlName="description"
        type="text"
        id="description"
        required
      />
    </div>

    <!-- Button Panel -->
    <div class="ww-button-container">
      <button
        *ngIf="!editMode"
        type="submit"
        [disabled]="!f.valid || !(f.touched || f.dirty)"
        class="ww-button ww-button-green"
      >
        Add
      </button>
      <button
        *ngIf="editMode"
        type="submit"
        [disabled]="!f.valid || !(f.touched || f.dirty)"
        class="ww-button ww-button-blue"
      >
        Save
      </button>
      <button
        class="ww-button ww-button-yellow"
        type="button"
        [disabled]="!f.valid || !(f.touched || f.dirty)"
        (click)="onCancel()"
      >
        Cancel
      </button>
      <button
        *ngIf="editMode"
        type="button"
        class="ww-button ww-button-red"
        (click)="onDelete()"
      >
        Delete
      </button>
    </div>
  </form>
</div>
