<app-context
  [options]="contextMenu.options"
  [objectId]="contextMenu.objectId"
  [objectData]="contextMenu.objectId"
  (clickAway)="contextMenu.hide()"
  [show]="contextMenu.showMenu"
  [divTop]="contextMenu.top"
  [divLeft]="contextMenu.left"
></app-context>
<app-modal-alert
  *ngIf="alertBox.errorMessage"
  [message]="alertBox.errorMessage"
  (close)="alertBox.onCloseAlert()"
></app-modal-alert>
<app-modal-dialog
  *ngIf="confirmDialog.isVisible"
  [message]="confirmDialog.message"
  (close)="confirmDialog.onCloseClick()"
  (yesAction)="confirmDialog.onYesClick()"
  (noAction)="confirmDialog.onNoClick()"
>
</app-modal-dialog>
<app-list-viewer
  *ngIf="listViewer.isVisible"
  (close)="listViewer.onClose()"
  [dataId]="listViewer.id"
  [extra]="listViewer.extra"
></app-list-viewer>
<app-item-viewer
  *ngIf="itemViewer.isVisible"
  (close)="itemViewer.onClose()"
  [dataId]="itemViewer.id"
  [extra]="itemViewer.extra"
></app-item-viewer>
<app-image-viewer
  *ngIf="imageViewer.isVisible"
  (close)="imageViewer.onClose()"
  [dataId]="imageViewer.id"
  [extra]="imageViewer.extra"
></app-image-viewer>
<div
  class="ww-flex-column ww-selection-component ww-external-selection-component"
  style="justify-items: center"
>
  <div class="ww-selection-component-title">Notifications</div>

  <!-- Selection List -->
  <div class="ww-card-select-component-mini">
    <div
      class="ww-card ww-flex-row"
      *ngFor="let notif of notifications; let i = index"
      (click)="onSelect(i)"
      (contextmenu)="onContextMenu($event, i)"
    >
      <div class="ww-flex-column">
        <div
          *ngIf="notif.status.name === 'Unread'"
          style="
            flex-grow: 1;
            justify-items: center;
            align-content: center;
            font-size: 2rem;
            padding: 2px;
            margin: 0;
            box-sizing: border-box;
            color: green;
          "
        >
          &#x25CF;
        </div>
        <div
          *ngIf="notif.status.name !== 'Unread'"
          style="
            flex-grow: 1;
            justify-items: center;
            align-content: center;
            font-size: 2rem;
            padding: 2px;
            margin: 0;
            box-sizing: border-box;
            color: black;
          "
        >
          &#x25CB;
        </div>
      </div>
      <div class="ww-info-block">
        <p class="ww-label">
          {{ notif.sender.fullName }}
        </p>
        <p style="display: flex">{{ notif.text.substr(0, 50) }}</p>
      </div>
    </div>
  </div>
</div>
