<app-modal-loader *ngIf="isProcessing"></app-modal-loader>
<app-modal-alert
  *ngIf="alertBox.errorMessage"
  [message]="alertBox.errorMessage"
  (close)="alertBox.onCloseAlert()"
></app-modal-alert>
<div
  class="ww-flex-column ww-main-component"
  style="
    justify-content: center;
    align-items: center;
    min-height: var(--selection-container-height);
  "
  id="registercomponent"
>
  <div class="ww-flex-column ww-simple-component" style="align-items: center;">
    <div *ngIf="registrationInProgress">
      <div
        style="
          font-size: 2rem;
          color: white;
          background-color: var(--theme-color);
        "
      >
        Register with Wotlwedu
      </div>

      <form
        (ngSubmit)="onSubmit(f)"
        #f="ngForm"
        class="ww-flex-column"
        style="padding: 5px; min-width: 50%"
      >
        <div>
          <div class="ww-form-input">
            <label for="email">Email Address</label>
            <input type="text" name="email" id="email" ngModel required email />
          </div>
          <div class="ww-form-input">
            <label for="firstName">First Name</label>
            <input
              type="text"
              name="firstName"
              id="firstName"
              ngModel
              required
            />
          </div>
          <div class="ww-form-input">
            <label for="lastName">Last Name</label>
            <input type="text" name="lastName" id="lastName" ngModel required />
          </div>
          <div class="ww-form-input">
            <label for="alias">Alias</label>
            <input type="text" name="alias" id="alias" ngModel required />
          </div>
        </div>
        <div
          class="ww-flex-row"
          style="justify-content: center; margin-top: 10px"
        >
          <button
            type="submit"
            class="ww-button ww-button-theme"
            [disabled]="!f.valid"
          >
            Register
          </button>
        </div>
      </form>
    </div>
    <div *ngIf="userConfirmed">
      <div
        class="ww-flex-column"
        style="align-items: center; color: var(--theme-color)"
      >
        <p>Thank you for verifying your email address.</p>
        <p>
          Your account is now active. Please go to the login page to access
          Wotlwedu.
        </p>
      </div>
    </div>
    <div *ngIf="registrationComplete">
      <div
        class="ww-flex-column"
        style="align-items: center; color: var(--theme-color)"
      >
        <p>
          The first step of your registration is successful. You will receive a
          verification email to the address you entered.
        </p>
        <p>
          Please click on the link in the email to complete your registration.
        </p>
      </div>
    </div>
    <div>
      <a
        href="/auth"
        class="ww-button ww-button-theme"
        style="
          margin-top: 2px;
          border: 2px solid black;
          padding-block: 1px;
          padding-inline: 6px;
          font-size: 0.75rem;
          text-decoration: none;
        "
        >Go to Login</a
      >
    </div>
  </div>
</div>
